# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\github\Python-Tools-for-Maya\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
